---
http_interactions:
- request:
    method: get
    uri: https://openexchangerates.org/api/latest.json?app_id=<APP_ID>&symbols=RUB
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"1f18c781deda26ce065a76d98f1efaad"'
      Last-Modified:
      - Sat, 14 Apr 2018 16:00:33 GMT
    body:
      encoding: UTF-8
      string: |-
        {
          "disclaimer": "Usage subject to terms: https://openexchangerates.org/terms",
          "license": "https://openexchangerates.org/license",
          "timestamp": 1523721550,
          "base": "USD",
          "rates": {
            "RUB": 62.0238
          }
        }
  recorded_at: Sat, 14 Apr 2018 16:31:21 GMT
recorded_with: VCR 4.0.0
